body {
  background-color: white;
}

body {font-family: Arial, Helvetica, sans-serif;}

.button100 {
  background-color: dodgerblue;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}
* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  overflow: hidden;
  background-color: dimgray;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
  color: white;
}

.header a:hover {
  background-color: darkgray;
  color: white;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}
.dropbtn {
  color: white;
  font-size: 16px;
  border: none;
  background-color: dodgerblue;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}
.dropdown {
  position: fixed;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 14px 20px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}



.pagetitle {
    text-align: center;
    color: black;
    font-size: 300%;
}

.pagetitle2 {
    text-align: center;
    color: darkred;
    font-size: 200%;
}



.center {
    text-align: center;
    color: black;
}

.center2 {
    text-align: center;
}

.sectionline {
    width: 50%;
}

p {
    color: black;
}

li {
    color: white;
}











{
  box-sizing: border-box;
}


.column {
  float: left;
  width: 50%;
  padding: 5%;
  height: 700px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}



a.nounderline {text-decoration: none; }

.imgcenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}



















